---
name: CI

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Check formatting
        # yamllint disable-line rule:line-length rule:comments
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1  # v3.5.1
        with:
          args: "format src/ --check"

      - name: Check linting
        # yamllint disable-line rule:line-length rule:comments
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1  # v3.5.1
        with:
          args: "check src/"

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: Checkout repository
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install uv and set Python ${{ matrix.python-version }}
        # yamllint disable-line rule:line-length rule:comments
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: uv run --extra dev pytest -v

  build:
    if: github.event_name != 'push' || github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        # yamllint disable-line rule:line-length rule:comments
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Docker Buildx
        # yamllint disable-line rule:line-length rule:comments
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

      - name: Build container
        # yamllint disable-line rule:line-length rule:comments
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: .
          file: ./Containerfile
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
